.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 1);
    z-index: 9999;
  }
  
  .loader {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-top-color: #000;
    animation: spin 1s ease-in-out infinite;
  }
  
  .loader-logo {
    width: 5%;
    height: auto;
    opacity: 0;
    animation: fadeIn 1s ease forwards, spin 2s ease infinite 1s;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .loader-container.fade-out {
    animation: fadeOutToLogo 0.5s ease-in-out forwards;
  }
  
  @keyframes fadeOutToLogo {
    to {
      transform: translateY(0%) translateX(0%);
      opacity: 0;
      width: 0;
      height: 0;
    }
  }