.atomContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  /* Aspect ratio */
  max-width: 1000px;
  max-height: 1000px;
  margin: auto;
  /* Center the container */
}

.nucleus {
  position: absolute;
  border-radius: 50%;
  background: linear-gradient(90deg, #f87171, #2563eb);
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  font-size: 24px; /* Это будет перезаписано в JS */
  color: transparent;

  /* Для горизонтального и вертикального центрирования текста */
  display: flex;
  justify-content: center;
  align-items: center;
}


.orbit1,
.orbit2,
.orbit3 {
  position: absolute;
  border: 1px dashed #525375;
  border-radius: 50%;
  width: var(--orbit-width, 880px);
  height: var(--orbit-height, 450px);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleY(0.5);
}

.orbit1 {
  transform: translate(-50%, -50%) scaleY(0.5) rotate(60deg);
}

.orbit2 {
  transform: translate(-50%, -50%) scaleY(0.5) rotate(-60deg);
}

.orbit3 {
  transform: translate(-50%, -50%) scaleX(0.37) scaleY(1.3) rotate(0deg);
}

.electron1,
.electron2,
.electron3 {
  position: absolute;
  width: var(--electron-size, 90px);
  /* значение по умолчанию: 20px */
  height: var(--electron-size, 90px);
  /* значение по умолчанию: 20px */
  background-color: #525375;
  border-radius: 50%;
}

.electron1 {
  left: 711px;
  top: 46%;
  transform: translateY(-50%);
  animation: orbit1 10s infinite ease-in-out;
}

.electron2 {
  left: 381px;
  top: 74%;
  transform: translateY(-50%);
  animation: rotate1 10s infinite linear;

}

.electron3 {
  left: 183px;
  top: 33%;
  transform: translateY(-50%);
  animation: rotate1 10s infinite linear;
}



.control-point {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
}

.control-point1 {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* Центр */
.control-point2 {
  left: 711px;
  top: 46%;
  transform: translate(-50%, -50%);
}

/* Ваши координаты для .electron1 */
.control-point3 {
  left: 591px;
  top: 54%;
  transform: translate(-50%, -50%);
}

.control-point4 {
  left: 471px;
  top: 46%;
  transform: translate(-50%, -50%);
}

.control-point5 {
  left: 591px;
  top: 38%;
  transform: translate(-50%, -50%);
}


.animationCenter,
.orbitCenter {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #525375;
  border-radius: 50%;
  z-index: 2;
}