.loading-logo {
    position: relative;
    top: 2.25em;
    opacity: 0;
  }
  
  .loaded-logo {
    position: relative;
    top: 2.25em;
    width: 30%;
    opacity: 1;
  }
  
  .move-up-logo {
    position: relative;
    opacity: 0; 
    transition: opacity 1s ease-in-out;
  }
  
  .move-up-menu {
    position: relative;
  }
  

  /* Медиа-запросы */
@media (max-width: 1300px) {
    .container {
      padding-left: 2.25em;
      padding-right: 2.25em;
    }
}  