.loading-logo {
    position: relative;
    top: 2.25em;
    left: 2.25em;
    opacity: 0;
  }
  
  .loaded-logo {
    position: relative;
    top: 2.25em;
    left: 2.25em;
    width: 30%;
    opacity: 1;
  }
  
  .move-up-logo {
    position: relative;
    transform: translateX(-20em);
    transition: transform 1s ease-in-out;
  }
  
  .move-up-menu {
    position: relative;
  }
  