.loading-logo {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.loaded-logo {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.blur-bg {
  backdrop-filter: blur(50px);
}

.move-up-logo, .move-up-menu {
  justify-content: space-between;
  position: relative;
  transition: top 1s ease-in-out;
  max-height: 14rem;
}

/* Медиа-запросы */
@media (max-width: 1300px) {
  .container {
    justify-content: space-between;
    padding-left: 2.25em;
    padding-right: 2.25em;
  }
}